.disguise {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
  padding-right: 16px;
  padding-top: 20vh;
  padding-bottom: 10vh;
  align-self: center;
}

@keyframes warningAnim {
  0% {color: white; opacity: 1;}
  50% {color: red; opacity: 1;}
  75% {color: red; opacity: 1;}
  100% {color: red; opacity: 0;}
}

.warning {
  opacity: 1;
  color: red;
}

.goButton {
  font-family: var(--heading);
  font-weight: 100;
  font-size: 24px;
  opacity: 1;
  color: black;
}